service: backendServerless
frameworkVersion: "3"

useDotenv: true

provider:
  name: aws
  runtime: nodejs18.x

plugins:
  - serverless-plugin-typescript
  - serverless-offline

custom:
  serverless-offline:
    httpPort: ${env:PORT}
    lambdaPort: ${env:LAMBDA_PORT}

functions:
  api:
    handler: src/app.handler
    events:
      - httpApi:
          path: /
          method: get
